* {
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    font-family: 'Muli', sans-serif;   
    background: #fdfdfd;
    color: #232323;
}

body {
    padding-top: 40px;
}

a {
    color: #66a1e9;
    text-decoration: none;
}

.page-breaker {
    width: 600px;
    margin: 0 auto;
}

.divider {
    margin: 20px 0;
    width: 50px;
    height: 3px;
    background: #0ed2f7;
    border: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

main.content {
    font-size: 14px;
    text-align: center;
}

.company-name {
    font-size: 35px;
}

.company-tagline {
    font-size: 14px;
}

.services {
    margin: 20px 0 40px;
}

.maintenance-box {
    text-align: center;
    margin-bottom: 50px;
}

.maintenance-image {
    width: 400px;
}

.maintenance-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    body {
        padding: 25px;
    }

    .page-breaker {
        width: 100%;
    }

    .maintenance-image {
        width: 100%;
    }

    main.content {
        width: 100%;
    }

    .maintenance-title {
        font-size: 25px;
    }
}

@font-face {
    font-family: Neuzeit;
    src: url(/fonts/Neuzeit-Grotesk-Light.otf);
}